<nav>
  <a href="/oc-claw/" class="logo">
    <img src="/oc-claw/app-icon.png" alt="OC-Claw" class="logo-icon" />
    <span class="logo-label">OC-Claw</span>
  </a>
  <a href="https://github.com/rainnoon/oc-claw" class="nav-link">GitHub</a>
</nav>
